appdata/
_packed/
bin/
import/
sources/*
temp/*
intermediate/*
libraries/*
scenes/
gamedata/levels/**
!gamedata/levels/**/*.ai
!gamedata/levels/**/*.env_mod
!gamedata/levels/**/*.game
!gamedata/levels/**/*.gct
!gamedata/levels/**/*.graph
!gamedata/levels/**/*.hom
!gamedata/levels/**/*.ini
!gamedata/levels/**/*.ltx
!gamedata/levels/**/*.ps_static
!gamedata/levels/**/*.snd_env
!gamedata/levels/**/*.snd_static
!gamedata/levels/**/*.spawn

*.bat
*.dds
*.tga
*.tx
*.ogg
*.ogf
*.omf
*.dm
*.~xr
*.sfk
*.swatch

*compiler.ini
xrCompress*
gamedata/*.old/

olr_script_log.txt

python_scripts/*
