
ai/
meshes/
levels/
sounds/
spawns/
*.dds
*.tga
*.ogm
*.~xr

*.old/*

# Temporary files
/scripts/class_registrator.script
/scripts/se_smart_cover.script
/scripts/smart_covers_anim_pri_a22.script
/scripts/smart_covers_animpoint_pri_a15.script
/scripts/smart_covers_animpoint_sit_high.script
/scripts/smart_covers_animpoint_sit_low.script
/scripts/smart_covers_animpoint_sit_normal.script
/scripts/smart_covers_animpoint_stay_table.script
/scripts/smart_covers_animpoint_stay_wall.script
/scripts/smart_covers_combat_front.script
/scripts/smart_covers_combat_prone.script
/scripts/smart_covers_combat.script
/scripts/smart_covers_cover_barricade_0.script
/scripts/smart_covers_cover_barricade_1.script
/scripts/smart_covers_cover_barricade_2.script
/scripts/smart_covers_cover_barricade_3.script
/scripts/smart_covers_cover_barricade_commander.script
/scripts/smart_covers_cover_lesnik.script
/scripts/smart_covers_cover_loophole_1_2_3_jump.script
/scripts/smart_covers_cover_loophole_1_2_3.script
/scripts/smart_covers_cover_loophole_1_2_jump.script
/scripts/smart_covers_cover_loophole_1_2.script
/scripts/smart_covers_cover_loophole_1_3_jump.script
/scripts/smart_covers_cover_loophole_1_3_test.script
/scripts/smart_covers_cover_loophole_1_3.script
/scripts/smart_covers_cover_loophole_1_jump.script
/scripts/smart_covers_cover_loophole_1.script
/scripts/smart_covers_cover_loophole_10_11.script
/scripts/smart_covers_cover_loophole_10_8_11.script
/scripts/smart_covers_cover_loophole_10_8.script
/scripts/smart_covers_cover_loophole_10.script
/scripts/smart_covers_cover_loophole_11.script
/scripts/smart_covers_cover_loophole_2_3_jump.script
/scripts/smart_covers_cover_loophole_2_3.script
/scripts/smart_covers_cover_loophole_2_jump.script
/scripts/smart_covers_cover_loophole_2.script
/scripts/smart_covers_cover_loophole_3_jump.script
/scripts/smart_covers_cover_loophole_3.script
/scripts/smart_covers_cover_loophole_4_5.script
/scripts/smart_covers_cover_loophole_4.script
/scripts/smart_covers_cover_loophole_5.script
/scripts/smart_covers_cover_loophole_6_7.script
/scripts/smart_covers_cover_loophole_6.script
/scripts/smart_covers_cover_loophole_7.script
/scripts/smart_covers_cover_loophole_8_11.script
/scripts/smart_covers_cover_loophole_8.script
/scripts/smart_covers_cover_loophole_9.script
/scripts/smart_covers_cover_loophole_lead_forester_idle_talk.script
/scripts/smart_covers_cover_loophole_lead_sit_sleep_mechanic.script
/scripts/smart_covers_cover_loophole_lead_sit_sleep_write_temp.script
/scripts/smart_covers_cover_loophole_lead_sit_sleep_write.script
/scripts/smart_covers_cover_loophole_lead_sit_strong.script
/scripts/smart_covers_cover_loophole_lead_stand_hit_tv.script
/scripts/smart_covers_cover_loophole_lead_stand_lean_on_bar.script
/scripts/smart_covers_cover_loophole_lead_stand_look_at_table.script
/scripts/smart_covers_cover_loophole_lead_stand_look_down_2.script
/scripts/smart_covers_cover_loophole_lead_stand_look_down_3.script
/scripts/smart_covers_cover_loophole_lead_stand_look_in_window.script
/scripts/smart_covers_cover_loophole_lead_stand_look_up.script
/scripts/smart_covers_cover_loophole_minigunner.script
/scripts/smart_covers_loophole_1.script
/scripts/smart_covers_loophole_10.script
/scripts/smart_covers_loophole_11.script
/scripts/smart_covers_loophole_2.script
/scripts/smart_covers_loophole_3.script
/scripts/smart_covers_loophole_4.script
/scripts/smart_covers_loophole_5.script
/scripts/smart_covers_loophole_6.script
/scripts/smart_covers_loophole_7.script
/scripts/smart_covers_loophole_8.script
/scripts/smart_covers_loophole_9.script
/scripts/smart_covers_loophole_anim_pri_a22.script
/scripts/smart_covers_loophole_animpoint_pri_a15.script
/scripts/smart_covers_loophole_animpoint_sit_high.script
/scripts/smart_covers_loophole_animpoint_sit_low.script
/scripts/smart_covers_loophole_animpoint_sit_normal.script
/scripts/smart_covers_loophole_animpoint_stay_table.script
/scripts/smart_covers_loophole_animpoint_stay_wall.script
/scripts/smart_covers_loophole_barricade_0.script
/scripts/smart_covers_loophole_barricade_1.script
/scripts/smart_covers_loophole_barricade_2.script
/scripts/smart_covers_loophole_barricade_3.script
/scripts/smart_covers_loophole_barricade_commander.script
/scripts/smart_covers_loophole_crouch_back.script
/scripts/smart_covers_loophole_crouch_front_left.script
/scripts/smart_covers_loophole_crouch_front_right.script
/scripts/smart_covers_loophole_crouch_front.script
/scripts/smart_covers_loophole_crouch_left.script
/scripts/smart_covers_loophole_crouch_right.script
/scripts/smart_covers_loophole_lead_forester_idle.script
/scripts/smart_covers_loophole_lead_forester_talk.script
/scripts/smart_covers_loophole_lead_sit_sleep_mechanic.script
/scripts/smart_covers_loophole_lead_sit_sleep_write.script
/scripts/smart_covers_loophole_lead_sit_strong.script
/scripts/smart_covers_loophole_lead_stand_hit_tv.script
/scripts/smart_covers_loophole_lead_stand_lean_on_bar.script
/scripts/smart_covers_loophole_lead_stand_look_at_table.script
/scripts/smart_covers_loophole_lead_stand_look_down_2.script
/scripts/smart_covers_loophole_lead_stand_look_down_3.script
/scripts/smart_covers_loophole_lead_stand_look_in_window.script
/scripts/smart_covers_loophole_lead_stand_look_up.script
/scripts/smart_covers_loophole_lesnik.script
/scripts/smart_covers_loophole_minigunner.script
/scripts/smart_covers_loophole_prone.script
/scripts/smart_covers_loophole_stand_back.script
/scripts/smart_covers_loophole_stand_front_left.script
/scripts/smart_covers_loophole_stand_front_right.script
/scripts/smart_covers_loophole_stand_left.script
/scripts/smart_covers_loophole_stand_right.script
/scripts/smart_covers_stc_cover_1.script
/scripts/smart_covers_stc_cover_2.script
/scripts/smart_covers_stc_cover_3.script
/scripts/smart_covers.script
